body {
    background-color: ghostwhite;
}

h1 {
    color: black;
    margin-left: 20px;
}

p {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 30px;
    text-align: center;
    color: black;
}